<p-card>
  <section class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <i class="pi pi-history"></i>
      <p class="text-sm font-semibold">HISTORIAL RECIENTE</p>
    </div>

    @if (history.length) {
      <ul class="list-none flex flex-col gap-3">
        @for (item of history; track item.id) {
          <li>
            <div class="flex flex-row items-center justify-between">
              <div class="flex flex-col items-baseline justify-baseline gap-2">
                <p class="m-0 font-semibold truncate">{{ item.class }}</p>
                <time class="text-sm font-light">{{ item.timestamp }}</time>
              </div>
              <i
                class="pi pi-circle-fill"
                [style]="{ 'font-size': 'x-small', color: getStatusSeverity(item.status) }"
              >
              </i>
            </div>
          </li>
        }
      </ul>
    } @else {
      <div class="flex flex-col items-center">
        <p class="font-light text-center">No hay escaneos recientes.</p>
      </div>
    }
  </section>
</p-card>
